@font-face {
  font-family: 't-title';
  src: url("../../fonts/tuesdaynight-regular-webfont.woff2") format("woff2"), url("../../fonts/tuesdaynight-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 20px 'opensans-bold', sans-serif;
}

.navBar {
  z-index: 1;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  -webkit-transition: background-color, .5s ease-in-out;
  transition: background-color, .5s ease-in-out;
}

.navBar .innerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navBar .innerNav .navElement {
  padding: 0px 15px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navBar .innerNav #menuBar {
  color: white;
  display: none;
}

.navBar .innerNav a {
  font: 12px 'opensans-bold', sans-serif, bolder;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 22px 0px 22px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 5px solid transparent;
}

.navBar .innerNav a:hover {
  border-bottom: 5px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bubbleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeDiv {
  background-image: url("../../images/background.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.homeDiv .homeInner {
  background-color: #00043280;
  margin-top: -10px;
  padding: 20px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homeDiv .homeInner .homeTitle {
  font-family: "t-title";
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: light;
}

.homeDiv .homeInner .homeDescription {
  margin-top: 15px;
  max-width: 75%;
}

.homeDiv .homeInner .buttons button {
  width: 175px;
  margin: 20px 10px 20px 10px;
  height: 50px;
  font: 15px 'opensans-bold', sans-serif, bolder;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color, .25s ease-in-out;
  transition: background-color, .25s ease-in-out;
}

.homeDiv .homeInner .buttons button.gitHub {
  background-color: #34495e;
  border: none;
}

.homeDiv .homeInner .buttons button.youTube {
  background-color: #db1b51;
  border: none;
}

.homeDiv .homeInner .buttons button:hover {
  background-color: #6f00c5;
}

.ball {
  position: absolute;
  background-image: url("../../images/bubble.png");
  background-size: contain;
  background-position: center;
  mix-blend-mode: hard-light;
  -webkit-animation: scalein .5s ease-in-out;
          animation: scalein .5s ease-in-out;
}

.portfolioContainer {
  background-color: #ebeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.portfolioContainer .screenshotOverlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000090;
}

.portfolioContainer .screenshotOverlay .closeWindow {
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolioContainer .screenshotOverlay .screenshotContainer {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.portfolioContainer h2 {
  margin: 20px 0px 20px 0px;
  font-family: "t-title";
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: light;
  color: #717171;
}

.portfolioContainer .projectIconContainer .projectIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolioContainer .projectIconContainer .projectIcons .projectIcon {
  margin: 10px 10px 10px 10px;
  overflow: hidden;
  cursor: pointer;
  height: 80px;
  width: 100px;
  display: block;
  background-color: white;
  background-size: cover;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioContainer .projectIconContainer .projectIcons .projectIcon .projectIconOverlay {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: transparent;
  -webkit-transition: background-color, .25s ease-in-out;
  transition: background-color, .25s ease-in-out;
}

.portfolioContainer .projectIconContainer .projectIcons .projectIcon .projectIconOverlay:hover {
  border: solid 3px #db1b51;
  color: transparent;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolioContainer .projectIconContainer .projectIcons .cultureFit {
  background-image: url("../../images/projects/culturefit.png");
}

.portfolioContainer .projectIconContainer .projectIcons .airSpace {
  background-image: url("../../images/projects/airspace-museum.png");
}

.portfolioContainer .projectIconContainer .projectIcons .pokemon {
  background-image: url("../../images/projects/pokemon-sim.png");
}

.portfolioContainer .projectIconContainer .projectIcons .mediGrowth {
  background-image: url("../../images/projects/medigrowth.png");
}

.portfolioContainer .projectIconContainer .projectIcons .wheel {
  background-image: url("../../images/projects/wheel-of-fortune.png");
}

.portfolioContainer .projectIconContainer .projectIcons .pizza {
  background-image: url("../../images/projects/pizza-savant.jpg");
}

.portfolioContainer .projectHighlight {
  margin: 20px 20px 20px 20px;
}

.portfolioContainer .projectHighlight .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolioContainer .projectHighlight .projectContainer .column1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolioContainer .projectHighlight .projectContainer .column1 .videoOrImage {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.portfolioContainer .projectHighlight .projectContainer .column1 .videoOrImage iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.portfolioContainer .projectHighlight .projectContainer .column1 .projectDescription {
  background-color: white;
}

.portfolioContainer .projectHighlight .projectContainer .column1 .projectDescription h3 {
  margin: 10px 0px 10px 0px;
}

.portfolioContainer .projectHighlight .projectContainer .column1 .projectDescription p {
  margin: 0px;
  font-size: 15px;
  padding: 0px 20px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolioContainer .projectHighlight .projectContainer .column2 {
  width: 50%;
  background-color: white;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .buttonContainer button {
  cursor: pointer;
  height: 50px;
  border: none;
  width: 100%;
  color: white;
  font: 12px 'opensans-bold', sans-serif, bolder;
  text-transform: uppercase;
  -webkit-transition: background-color, .25s ease-in-out;
  transition: background-color, .25s ease-in-out;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .buttonContainer button:hover {
  background-color: #6f00c5;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .buttonContainer .github {
  background-color: #34495e;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .buttonContainer .medium {
  background-color: #db1b51;
}

.portfolioContainer .projectHighlight .projectContainer .column2 h4 {
  font-size: 15px;
  margin: 10px 0px 10px 0px;
}

.portfolioContainer .projectHighlight .projectContainer .column2 p {
  margin: 0px 50px 10px 50px;
  font-size: 15px;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolioContainer .projectHighlight .projectContainer .column2 .screenshots .screenshot img {
  cursor: pointer;
  margin: 5px 5px 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .navBar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .navBar .innerNav {
    width: 0%;
    overflow: hidden;
    -webkit-transition: width, .25s ease;
    transition: width, .25s ease;
  }
  .navBar .innerNav #menuBar {
    color: white;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: -10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 35px 10px 10px;
    font-size: 30px;
  }
  .navBar .innerNav a {
    padding: 20px 20px 20px 0px;
    font-size: 20px;
  }
  .navBar .innerNav.active {
    width: 100%;
    background-color: #db1b51;
    padding: 30px 40px 30px 40px;
    margin-top: -10px;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .navBar .innerNav.active #menuBar {
    color: white;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: -10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 35px 10px 10px;
    font-size: 30px;
  }
  .navBar .innerNav.active a {
    font: 12px 'opensans-bold', sans-serif, bolder;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    padding: 20px 20px 20px 0px;
    font-size: 20px;
  }
  .portfolioContainer .projectHighlight .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolioContainer .projectHighlight .projectContainer .column1 {
    width: 100%;
  }
  .portfolioContainer .projectHighlight .projectContainer .column2 {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */